extends layout

block append content
	div.jumbotron 
		div.container
			h1 ARM Pricing Calculator
			p This is a site to read your ARM template and calculate the price for you automatically.
	div.row.container-fluid
		div.col-md-4(style='background-color:#eee;')
			h2 Upload your ARM template file
			p Here you can provide you arm template that will be parsed
			p
				form(role='form',action='/',method='post',enctype='multipart/form-data')
					div.form-group
						input(type='file',name='azurefile',id='azurefile')
						input(type='submit',name='upload',value='Upload')
		div.col-md-4(style='background-color:#eee;border-left: 30px solid white;')
			h2 View results
			p The results from the calculation
			div.row(style='padding-left:10px;padding-right:10px;')
				if (typeof prices === 'undefined')
				else
					table.table.table-striped.table-bordered
						tr
							td Asset
							td Location
							td Price
						each price in prices
							tr
								td #{price.vmSize}
								td #{price.vmLocation}
								td #{price.vmPrice}