extends layout

block append content
	div.jumbotron 
		div.container
			h1 ARM Pricing Calculator
			p This is a site to read your ARM template and calculate the price for you automatically.
	div.row(style='padding-left:15px;')
		div.col-md-4(style='background-color:#eee;')
			h2 Upload your ARM template file
			p Here you can provide you arm template that will be parsed
			p
				form(role='form',action='/',method='post',enctype='multipart/form-data')
					div.form-group
						input(type='file',name='azurefile',id='azurefile',style='float:left;')
						input(type='submit',name='upload',value='Upload',style='float:left;margin-left:10px;')
		div.col-md-6(style='background-color:#eee;margin-left:30px;')
			h2 View results
			p The results from the calculation