extends layout

block append content
	div.container
		h1 Results
	div.container
		if (typeof prices === 'undefined')
			h1 ERROR
		else
			table.table.table-striped.table-bordered
				tr
					td VM Size
					td Location
					td Price
				each price in prices
					tr
						td #{price.vmSize}
						td #{price.vmLocation}
						td #{price.vmPrice}